body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #A3B5B9;
  }

  .ChangeColor.color0 {
    background-color: #2C7C82;
  }
  
  .ChangeColor.color1 {
    background-color: #889596;
  }
  
  .ChangeColor.color2 {
    background-color: #a339b9;
  }
  
  .ChangeColor.color3 {
    background-color: #4BFA71;
  }
  
  .ChangeColor.color4 {
    background-color: #f0ff1d;
  }
  
  .ChangeColor.color5 {
    background-color: #99ff00;
  }
  

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #A3B5B9;
    border-radius: 10px;
  }

  .darkMode{
    background-color: black;
  }

  .But{
    height: 80px;
    width: 10vw;
    background-color: Transparent;
    border: none;
    font-size: 18px;
  }

  .GoToHome{
    width: 200px;
    height: 40px;
    background-color: #36D933;
    border-radius: 10px;
    padding-top: 25px;
    padding-inline: 50px;
    border: none;
    outline: none;
    margin-right: 20px;
  }
  
  .VersionNumber {
    width: 120px;
    height: 20px;
    background-color: #7DCCC7;
    border-radius: 10px;
    padding-top: 8px;
    padding-left: 50px;
  }

.centerer{
  display: flex;
  justify-content: center;
}

  .big-box.lightMode {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #A3B5B9;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .big-box.darkMode{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: black;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .GridBox{
    border-radius: 10px;
    padding: 30px;
    background-color: #2B284E;
    
  }
  .grid-button {
    border: none;
    outline: none;
    margin: 1px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #2C7C82;
  }

  a{
    text-decoration: none;
    color: black;
}

  .small-box {
    width: 12vw;
    height: 80px;
    background-color: #36D933;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    margin: 1px;
  }

  .Start{
    background-color: #4BFA71;
  }
  .Wall{
    background-color: #889596;

  }
  .End{
    background-color: #a339b9;

  }
  .Erase{
    background-color: #2C7C82;

  }

  .right-set {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .active{
    font-size: 28px;
  }

  @media screen and (max-width: 1010px) {
    .big-box {
      flex-direction: row; /* Change to column layout */
    }
  
    .right-set {
      width: 100%; /* Take full width */
    }
  
    .small-box {
      width: 30%; /* Take full width */
      margin: 5px 0; /* Adjust margin */
    }
  }