body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(/PathGitHub/Pathfinding/Content/Lightbig.svg);
  }

  .ChangeColor.color0 {
    background-color: #8FD696;
  }

  .ChangeColor.color1 {
    background-color: #a5b5b6;
  }
  
  .ChangeColor.color2 {
    background-color: #a339b9;
  }
  
  .ChangeColor.color3 {
    background-color: #4BFA71;
  }
  
  .ChangeColor.color4 {
    background-color: #f0ff1d;
  }
  
  .ChangeColor.color5 {
    background-color: #618f66;
  }
  

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(65, 65, 65, 0.5);
    border-radius: 10px;
    margin: 15px;
  }

  .darkMode{
    background-color: black;
  }

  .But{
    height: 80px;
    width: 10vw;
    background-color: Transparent;
    border: none;
    font-size: 18px;

  }

  .But2{
    height: 80px;
    width: 10vw;
    background-color: Transparent;
    border: none;
    font-size: 25px;
  }

  .GoToHome{
    width: 200px;
    height: 40px;
    background-color: #36D933;
    border-radius: 10px;
    padding-top: 25px;
    padding-inline: 50px;
    border: none;
    outline: none;
    margin-right: 20px;
    text-align: center;
    box-shadow:1px 1px 2px rgba(21, 21, 21, 0.4);
  }
  
  .VersionNumber {
    width: 120px;
    height: 20px;
    background-color: #8FD696;
    border-radius: 10px;
    padding-top: 8px;
    padding-left: 50px;
    box-shadow:1px 1px 2px rgba(21, 21, 21, 0.4);
  }

.centerer{
  display: flex;
  justify-content: center;
}

  .big-box.lightMode {
    width: 98%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #A3B5B9;
    margin: 10px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(65, 65, 65, 0.5);
  }

  .big-box.darkMode{
    width: 98%;
    box-sizing: border-box;
    padding: 20px;
    background-color: black;
    margin: 10px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(65, 65, 65, 0.5);
  }

  .GridBox{
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(65, 65, 65, 0.8);
    margin-top: 10px;
    
  }
  .grid-button {
    border: none;
    outline: none;
    margin: 1px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #8FD696;
  }

  a{
    text-decoration: none;
    color: black;
}
.helpText{
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2vw;
  color: rgb(0, 0, 0);
}
.helpDarkMode{
  background-color: #3C3939;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2vw;
  color: rgb(176, 176, 176);
}
  .small-box, .small-box2 {
    width: 12vw;
    height: 80px;
    background-color: #36D933;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    margin: 1px;
    box-shadow:1px 1px 2px rgba(21, 21, 21, 0.9);
  }

  .But:hover, .But2:hover{
    color: white;
  }

  .Start{
    background-color: #4BFA71;
  }
  .Wall{
    background-color: #a5b5b6;

  }
  .End{
    background-color: #a339b9;

  }
  .Erase{
    background-color: #8FD696;

  }

  .right-set {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .active{
    font-size: 28px;
  }

  @media screen and (max-width: 1010px) {
    .big-box {
      flex-direction: row; /* Change to column layout */
    }
  
    .right-set {
      width: 100%; /* Take full width */
    }
  
    .small-box, .small-box2 {
      width: 30%; /* Take full width */
      margin: 5px 0; /* Adjust margin */
    }
  }





  /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}