body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url(/PathGitHub/Pathfinding/Content/Lightbig.svg);
}

.ChangeColor.color0 {
  background-color: #8FD696;
}

.ChangeColor.color1 {
  background-color: #a5b5b6;
}

.ChangeColor.color2 {
  background-color: #cf4839;
}

.ChangeColor.color3 {
  background-color: #fac34b;
}

.ChangeColor.color4 {
  background-color: #f0ff1d;
}

.ChangeColor.color5 {
  background-color: #618f66;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(65, 65, 65, 0.5);
  border-radius: 10px;
  margin: 15px;
}

.darkMode {
  background-color: black;
}

.But {
  height: 80px;
  width: 10vw;
  background-color: Transparent;
  border: none;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.But2 {
  height: 80px;
  width: 10vw;
  background-color: Transparent;
  border: none;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.GoToHome {
  width: 200px;
  height: 40px;
  background-color: #36D933;
  border-radius: 10px;
  padding-top: 25px;
  padding-inline: 50px;
  border: none;
  outline: none;
  margin-right: 20px;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.4);
}

.VersionNumber {
  width: 120px;
  height: 20px;
  background-color: #8FD696;
  border-radius: 10px;
  padding-top: 8px;
  padding-left: 50px;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.4);
}

.centerer {
  display: flex;
  justify-content: center;
}

.big-box.lightMode {
  width: 98%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #A3B5B9;
  margin: 10px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(65, 65, 65, 0.5);
}

.big-box.darkMode {
  width: 98%;
  box-sizing: border-box;
  padding: 20px;
  background-color: black;
  margin: 10px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(65, 65, 65, 0.5);
}

.GridBox {
  border-radius: 10px;
  padding: 30px;
  background-color: rgba(65, 65, 65, 0.8);
  margin-top: 10px;

}

.grid-button {
  border: none;
  outline: none;
  margin: 1px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #8FD696;
}

a {
  text-decoration: none;
  color: black;
}

.helpText {
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2vw;
  color: rgb(0, 0, 0);
}

.helpDarkMode {
  background-color: #3C3939;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2vw;
  color: rgb(176, 176, 176);
}

.small-box,
.small-box2 {
  width: 12vw;
  height: 80px;
  background-color: #36D933;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  margin: 1px;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.9);
}

.But:hover,
.But2:hover {
  color: white;
}

.Start {
  background-color: #fac34b;
}

.Wall {
  background-color: #a5b5b6;

}

.End {
  background-color: #cf4839;

}

.Erase {
  background-color: #8FD696;

}

.right-set {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.active {
  font-size: 28px;
}

@media screen and (max-width: 1010px) {
  .big-box {
    flex-direction: row;
    /* Change to column layout */
  }

  .right-set {
    width: 100%;
    /* Take full width */
  }

  .small-box,
  .small-box2 {
    width: 30%;
    /* Take full width */
    margin: 5px 0;
    /* Adjust margin */
  }
}





/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 30px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  top: 30vh;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.6s
}

.OptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.LoadOptionContainer {
  padding: 10px;
  margin: 20px;
  background-color: #618f66;
  border-radius: 10px;
  width: 15vw;
  height: 7vw;
  color: white;
}

.LoadOption {

  display: flex;
  justify-content: center;
}

.menyButton {
  background-color: #51a351;
  border-style: none;
  color: white;
  font-size: 12px;
  padding: 20px;
  border-radius: 12px;
  margin: 5px;
  width: 45%;
  height: 100%;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.3);
}
.menyButton:hover{
  color: rgb(19, 91, 24);
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 30vh;
    opacity: 1
  }
}