body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(163, 181, 185);
}

.GoToHome {
  width: 200px;
  height: 40px;
  background-color: #36d933;
  border-radius: 10px;
  padding-top: 25px;
  padding-inline: 50px;
  border: none;
  outline: none;
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(163, 181, 185);

  border-radius: 10px;
}

.VersionNumber {
  width: 120px;
  height: 20px;
  background-color: #7DCCC7;
  border-radius: 10px;
  padding-top: 8px;
  padding-left: 50px;
}

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  border-radius: 27px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  background-color: rgb(60, 57, 57);
 /*Lägga till paragraf sak för att göra texten svart och runda rutorna och lägga till text*/
 color: #fff;
 border-radius: 27px;

}

.section {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 50px;
}

.section .info {
  background-color: rgb(60, 57, 57);
  padding: 10px;
  position: relative;
}

.section .keybinds {
  background-color: rgb(60, 57, 57);
  padding: 10px;
  border-radius: 27px;
}

.section.info p,.keybinds p {
  margin: 0;
  color: #000;
  
}

.div1,.div2,.div3,.div4,.div5,.div6,.div7 {
  width: 12vw;
  height: 80px;
  align-items: center;
  text-align: center;
  color: #000000;
  border-radius: 13px;
  margin: 10px;
}
h2{
  text-align: center;
  font-weight:normal

}
h1{
  text-align: center;
  
  }
.div1 {
 
  background-color: #4bfa71;
  grid-column: span 1;
}

.div2 {
  background-color: #889596;
  grid-column: span 1;
}

.div3 {
  background-color: #a339b9;
  grid-column: span 1;
}

.div4 {
  background-color: #2c7c82;
  grid-column: span 1;
}
.div5{
  background-color: #36D933;
    grid-column: span 1;

}
.div6{
  background-color: #36D933;
  grid-column: span 1;
}
.div7{
  background-color: #36D933;
  grid-column: span 1;
}

@media only screen and (max-width: 800px) {
  .info {
      grid-template-columns: repeat(2, 1fr);
  }
  .div1,.div2,.div3,.div4,.div5,.div6,.div7 {
  width: 18vw;
  height: 100px;
  /*align-items: center;*/
  text-align: center;
  font-size: 3vw;
  margin: auto;
}

.section {
  display: grid;
  grid-template-columns: 65% 35%;
  margin-top: 50px;
}
}

.darkMode{
  background-color: black;
}

