body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(/PathGitHub/Pathfinding/Content/Lightbig.svg);
}

.darkMode{
    background-color: black;
}

.VersionNumber {
    margin-top: 20px;
    margin-left: 80vw;
    width: 140px;
    height: 20px;
    background-color: #8FD696;
    border-radius: 10px;
    padding-top: 8px;
    padding-left: 60px;
  }

.BackgroundThing{
    margin: 20px;
    padding: 60px;
    background-color: rgba(65, 65, 65, 0.6);
    display: flex;
    border-radius: 20px;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: black;
}

.option{
    margin: 30px;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    height: 100px;
    width: 370px;
    border-radius: 15px;
}
.pathfinder{
    background-color: #36D933;
}
.Help{
    background-color: #BECE58;
}
.Settings{
    background-color: #5B5F60;
}
.Documentation{
    background-color: #5CDCE4;
}
.Review{
    background-color: #634b92;
}
.darkMode{
    background-color: black;
}