body {
  margin: 0;
  padding: 100fr;
  font-family: Arial, sans-serif;
  background-image: url(/PathGitHub/Pathfinding/Content/Lightbig.svg);
  background-size: cover;
}

.GoToHome {
  width: 200px;
  height: 40px;
  background-color: #36d933;
  border-radius: 10px;
  padding-top: 25px;
  padding-inline: 50px;
  border: none;
  outline: none;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.4);

}

a {
  text-decoration: none;
  color: black;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(65, 65, 65, 0.5);
  border-radius: 10px;
  margin: 15px;
}

.VersionNumber {
  width: 120px;
  height: 20px;
  background-color: #8FD696;
  border-radius: 10px;
  padding-top: 8px;
  padding-left: 50px;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.4);
}


.container {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
  background-color: rgba(65, 65, 65, 0.6);
  color: #fff;
  border-radius: 27px;
  padding: 30px;
  margin-bottom: 20px;
}

.darkMode {
  background-color: black;
}


.col {
  padding: 1%;
}

.col-lg {
  height: 200px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
  flex-basis: 30%;
}

/* Images crop and center to col-lg box up to 1000% centering (if 100% if it's 3x the size it doesn't fully center)Idk man why? projectors and stuff? */
.col-lg img {
  display: block;
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.imgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}